{% block sidebar %}
{% load static %}
<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="{% url 'dashboards:dashboard'%}" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'images/logo-dark.png'%}" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="{% url 'dashboards:dashboard'%}" class="logo logo-light">
            <span class="logo-sm">
                <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'images/logo-light.png'%}" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span>Menu</span></li>

                <!-- ATENDER -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="ri-hand-heart-line"></i> <span>Atender</span>
                    </a>
                </li>

                <!-- CALIFICACIONES -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="ri-check-double-line"></i> <span>Calificaciones</span>
                    </a>
                </li>

                <!-- CLIENTES -->
                <li class="nav-item">
                    <a href="#sidebarClientes" class="nav-link" data-bs-toggle="collapse">
                        <i class="ri-user-line"></i> <span>Clientes</span>
                    </a>
                    <div class="collapse" id="sidebarClientes">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link">List Clients</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Create New Client</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Upload Clients</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- CONFIGURACIÓN -->
                <li class="nav-item">
                    <a href="#sidebarConfiguracion" class="nav-link" data-bs-toggle="collapse">
                        <i class="ri-settings-2-line"></i> <span>Configuración</span>
                    </a>
                    <div class="collapse" id="sidebarConfiguracion">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'instituciones-lista' %}" class="nav-link">Institución</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'imagenes-lista' %}" class="nav-link">Imágenes</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Audios</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Ticket</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sistema</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- ENCUESTAS -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="ri-survey-line"></i> <span>Encuestas</span>
                    </a>
                </li>

                <!-- LOGOUT -->
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="nav-link">
                        <i class="ri-logout-box-line"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock sidebar %}
